p, button{
    font-family: 'Fredoka';
    color: #1e1e1e;
}

.main-container{
    position: relative;
}

.subtitle-container, .btn-container, .title-container, .bottom-container{
    margin: 0 1%;
}

.main-title{
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 0;
}

.main-subtitle{
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}

.title-container{
    max-width: 70%;
}

.subtitle-container{
    max-width: 50%;
}

.btn-container{
    max-width: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-cadastrar, .btn-animais{
    background-color: #BFDBFE;
    border: none;
    border-radius: 24px;
    color: #1d1d1d;

    padding: 13px 35px;
}
.btn-cadastrar:hover, .btn-animais:hover{
    cursor: pointer;
}

.btn-animais{
    margin-left: 2%;
}

.bottom-title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}

.subcontainer{
    display: flex;
    flex-direction: row;
}

.container-left, .container-mid, .container-right{
    max-width: 17%;
    margin-right: 3%;
}

.text-content-mid{
    background-color: #BFDBFE;
    padding: 17px;
    border-radius: 8px;
    /* height: 27vh; */
    height: 70%;
}

.text-content-left, .text-content-right{
    background-color: #C7D2FE;
    padding: 17px;
    border-radius: 8px;
    height: 70%;
    /* height: 27vh; */
}

.dog-image-container{
    position: absolute;
    bottom: 0px;
    right: -80px;
}

.dog-image{
    width: 100%;
    object-fit: cover;
}


span{
    font-weight: bold;
}